# {{ ansible_managed }}

<VirtualHost *:80>
  DocumentRoot {{ nextcloud_www_path }}
  ServerName {{ ansible_hostname }}.{{ domain_name }}

  <Directory {{ nextcloud_www_path }}>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
</VirtualHost>
