# {{ ansible_managed }}

<IfModule mod_ssl.c>
	<VirtualHost *:80>
		ServerName {{ nextcloud_subdomain }}.{{ domain_name }}
		Redirect permanent / https://{{ nextcloud_subdomain }}.{{ domain_name }}/
	</VirtualHost>

	<VirtualHost *:443>
	 	ServerName {{ nextcloud_subdomain }}.{{ domain_name }}

		DocumentRoot {{ nextcloud_www_path }}

		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined

		SSLEngine on
		SSLCertificateFile {{ nextcloud_ssl_certificate_path }}
		SSLCertificateKeyFile {{ nextcloud_ssl_key_path }}
	
	 	<Directory {{ nextcloud_www_path }}>
	 		Require all granted
	 		AllowOverride All
	 		Options FollowSymLinks MultiViews
	
	 		<IfModule mod_dav.c>
	 			Dav off
	 		</IfModule>
	 	</Directory>
		
		<FilesMatch "\.php$">
			SSLOptions +StdEnvVars
		</FilesMatch>

{% if nextcloud_hsts %}
		<IfModule mod_headers.c>
			Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains{% if nextcloud_hsts_preload %}; preload{% endif %}"
		</IfModule>
{% endif %}
	</VirtualHost>
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
